{% extends "base.html" %}
<!-- Complemento do nome do título -->
{% block titulo %}
  Produtos
{% endblock %}

<!-- CONTEÚDO CENTRAl -->
{% block conteudo %}
<div class="container">
  <h2>Produtos:</h2>
  <div class="row">
    {% for p in produtos %}
    <div class="col s12 m4">
      <div class="card">
        <!-- fixar o tamanho da imagem pra não dar bo no grid -->
        <div class="card-image"  style="width: 150px; height: 200px;">
          <img src="/static/assets/{{p.imagem}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{p.nome}}</span>
          <p>{{p.descricao}}</p>
          {% for tamanho in p.preco %}
          <p>{{tamanho.upper()}}: R$ {{p.preco.get(tamanho)}}</p>
          {% endfor %}
        </div>
        <div class="card-action">
          <a href="#">COMPRAR</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}